* {
  background-color: #191919;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  color: #e5eafa;
}

main {
  height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main img {
  margin-top: 2rem;
  width: 200px;
}
